<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9" id="widgetContainer">
        </div>
        <div class="span3">
            <div  id="CreateWidget" class="span12"></div>
            <div>
               <div class="span12">
                <div class="alert alert-block">
                    <strong>Disabled Widget - List</strong>
                </div>
                <div id="DisabledWidgetList" class="well"></div>
               </div>
            </div>            
        </div>
    </div>
</div>
