<div>
    <div class="control-group">
        <label for="txtWidgetName">
            Widget Name</label>
        <div class="controls">
            <input type="text" id="txtWidgetName" />
        </div>
    </div>
    <div class="control-group">
        <label for="txtWidgetContent">
            Widget Content</label>
        <div class="controls">
            <textarea id="txtWidgetContent" cols="10" rows="5"></textarea>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" id="btnCreateWidget" value="Create Widget" class="btn btn-success" />
    </div>
</div>
